* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border: transparent;
  border-radius: 20px;
}

.library {
  position: fixed;
  background: $background-light;
  box-shadow: 2px 2px 50px $box-shadow-light;
  border-radius: 1rem;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
  }
}

.library.dark-theme {
  background: $background-dark;
  box-shadow: 2px 2px 50px $box-shadow-dark;

  h2 {
    color: $color-dark;
  }

  h3 {
    color: $playing-dark;
    font-weight: 700;
  }

  h4 {
    color: $color-dark-acc;
  }

  .library-song {
    &:hover {
      background: $selected-dark;
    }
  }

  .selected {
    background: $selected-dark;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  transition: all 0.75s ease-out;
  cursor: pointer;

  img {
    width: 30%;
  }
  &:hover {
    background: $song-hover-light;
  }
}

.song-description {
  padding-left: 1rem;

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.7rem;
  }
}

.selected {
  background: $selected-light;
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
