$background-light: #ffffff;
$background-dark: #1e1e1e;
$color-light: #000000;
$color-light-main: rgb(51, 51, 51);
$color-light-sec: rgb(100, 100, 100);
$color-dark: #ffffff;
$color-dark-main: #fff120;
$color-dark-acc: #ffff55;
$color-dark-sec: #b3b3b3;
$border-nav-light: rgb(65, 65, 65);
$border-nav-dark: #ffffff;
$box-shadow-light: rgb(221, 221, 221);
$box-shadow-dark: rgba(0, 0, 0, 0.5);
$song-hover-light: rgb(235, 235, 235);
$selected-light: rgb(194, 208, 253);
$selected-dark: #050709;
$playing-light: #d0d066;
$playing-dark: #ff510f;
