@import './variables';
@import './library';
@import './nav';
@import './player';
@import './song';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $background-light;
  color: $color-light;
  font-family: 'Lato', sans-serif;
  transition: all 0.5s ease-in-out;
}

body.dark-theme {
  background: $background-dark;
  color: $color-dark;

  h2 {
    color: $playing-dark;
  }

  h3,
  h4 {
    color: $color-dark-sec;
  }
}

h1 {
  font-size: 1rem;
}

h2 {
  color: $color-light-main;
}

h3,
h4 {
  color: $color-light-sec;
  font-weight: 400;
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}
